
@{
    ViewData["Title"] = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model TheJoelHiltonFilmCollection.Models.Movie

<div class="text-center mt-2">
    <h1 class="mb-5">Thank you for submitting @Model.Title!</h1>
    <h2>Keep exploring the website</h2>
    <div class="flex-column">
        <a asp-action="ViewMovies" class="btn btn-outline-primary">View Movies</a>
        <a asp-action="Podcast" class="btn btn-outline-primary">Checkout Podcast</a>
        <a asp-action="Add Movie" class="btn btn-outline-primary">Add Movie</a>
    </div>
</div>

