@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "My Podcast";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="mb-5">My Podcast</h1>

<div class="text-center">
    <a href="https://baconsale.com/">
        <img src="~/img/Baconsale.png" class="img-fluid"/>
        <p>Checkout my podcast, Baconsale!</p>
    </a>
</div>
